.reservation-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(243, 238, 238, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000000;
  box-sizing: border-box;
  overflow-y: auto;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  min-width: 600px;
  padding: 20px;
  position: relative;
}

.forms-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  border: none;
  width: 100%;
}

.tee-time-note-container {
  grid-column: 1 / -1; 
}
.modal-buttons{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}
.reservation-modal-close-btn.bottom {
  align-self: flex-end; /* push to right */
  width: 100px;
  margin-top: 20px;     /* spacing from forms */
  background-color: #156C9D; 
  border: none;
  border-radius: 3px;
  color: white;              
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}
.reservation-modal-close-btn.bottom:hover {
 background-color: #4BA3D0;
}
