
.golfer-detail-container {
    padding: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-left: 1px solid grey;
    min-height: 100vh;
  }
  
  .golfer-name {
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 30px;
    color: #2c3e50;
  }
  
  .reservations-header {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #34495e;
  }
  
  .reservations-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .reservation-card {
    border-bottom: 1px solid #dcdcdc;
    padding: 15px 20px;
  
  }
  
  
  .reservation-card p {
    margin: 5px 0;
    font-size: 16px;
    color: #2c3e50;
  }
  
  .error-text {
    color: #e74c3c;
  }
  .delete-golfer-btn {
    margin: 15px 0;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #f44336; /* red */
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .delete-golfer-btn:hover {
    background-color: #d32f2f;
  }