
.nav-component-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.Logo{
    background-color: transparent;
    font-size: 40px;
    color: white;
    font-style: italic;
    border: none;
}
  
  
  .modal-nav-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px 20px; 
  }
  
  .modal-nav-container ul li  {
    padding: 20px;
  }

  /* Links styling */
  .modal-nav-container ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 20px;
  }
  
  .modal-nav-container ul li:hover {
    background-color: rgb(232, 220, 220);
  }
  
  /* Open navigation button */
  .open-nav-btn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #333;
    background-color:transparent;
    border: none;
    color: white;
    font-size: 20px;
  }
  .dropdown-arrow{
    font-size: 12px;
  }
  